* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #222;
  background: #fff;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
.header {
  padding: 20px 0;
  background-color: #f3fcf7;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #22c55e;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  color: #22c55e;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #22c55e;
}

/* Hero */
.hero {
  width: 100vw;
  background-color: #f3fcf7;
  padding: 80px 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.hero-text {
  flex: 1;
  min-width: 300px;
  margin-top: 50px;
  margin-left: 50px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-text p {
  margin-bottom: 20px;
  color: #555;
}

.btn {
  background: #22c55e;
  color: #fff;
  padding: 10px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

.hero-gallery {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-gallery img {
  width: 150px;
  object-fit: cover;
  margin-top: 300px;
}

.hero-img {
  position: relative;
  flex: 1;
  text-align: right;
  min-width: 300px;
}

.hero-img .main-img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.hero-img .rating-img {
  position: absolute;
  bottom: 200px;
  left: 50px;
  width: 250px;
  z-index: 2;
}

.hero-img .quality-img {
  position: absolute;
  top: 200px;
  right: -70px;
  width: 250px;
  z-index: 2;
}

.hero-img .dot-img {
  position: absolute;
  top: 450px;
  right: 0px;
  width: 120px;
  z-index: 2;
}

/* Features */
.features {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1 1 220px;
  padding: 10px;
}

.feature i {
  font-size: 20px;
  color: #22c55e;
}

.feature p {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
}

.feature p span {
  display: block;
  font-size: 12px;
  color: #555;
}

/* About */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 0;
  gap: 30px;
  position: relative;
}

.about-text {
  flex: 1;
  margin-left: 100px;
  z-index: 2;
}

.about-text ul {
  margin-top: 10px;
  list-style: none;
}

.about-text li::before {
  content: "✔️ ";
  color: #22c55e;
}

.dot-square {
  position: absolute;
  top: 200px;
  left: 1100px;
  z-index: 1;
}

.dot-square .dot-img {
  width: 120px;
  height: auto;
}

/* Stats */
.stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 60px 0;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.stats-grid {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}

.stats-grid div h3 {
  text-align: center;
  color: #22c55e;
}

.stats-text {
  position: relative;
  z-index: 2;
}
.stats-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stats-img img {
  max-width: 100%;
  height: auto;
}

.dot-square .dot-img {
  position: absolute;
  top: 10px;
  right: 400px;
  z-index: 1;
}

/* Variety */
.variety p {
  text-align: center;
  margin-bottom: 5px;
}
.variety h2 {
  text-align: center;
  margin-bottom: 30px;
}

.variety-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.btn {
  background: #22c55e;
  color: #fff;
  padding: 6px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

/* Products */
.products {
  padding: 60px 0;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product p {
  margin: 10px 0;
}

.product span {
  color: #22c55e;
  font-weight: 600;
}

.btn-sm {
  background: #22c55e;
  color: #fff;
  padding: 6px 15px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

/* Footer */
.footer {
  padding: 60px 0;
  background: #f8f8f8;
  margin-top: 50px;
  text-align: left;
}

.footer-cta {
  background: url("./images/footer.png") center/cover no-repeat;
  padding: 60px 0;
  color: #fff;
  text-align: center;
}

.footer-cta h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  padding: 50px 0;
  list-style: none;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-content ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-content ul li a:hover {
  color: #22c55e;
}

.footer-content h3 {
  color: #22c55e;
}

.footer-content h4 {
  margin-bottom: 10px;
}

.footer-content input {
  padding: 8px;
  width: 80%;
  margin-bottom: 10px;
}

.socials i {
  margin: 0 5px;
  color: black;
}

.socials i:hover {
  color: #22c55e;
  transition: color 0.1s;
}
.copyright {
  padding: 15px 0;
  font-size: 0.9rem;
  color: #777;
  text-align: center;
}

/* Responsive */

/*
   Mobile: 0 to 480px
   */
@media (max-width: 480px) {
  /* Hero Section */
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    margin-left: 0;
    margin-top: 20px;
  }

  .hero-gallery {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img .main-img,
  .hero-img .rating-img,
  .hero-img .quality-img {
    max-width: 80%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  /* Features */
  .features {
    flex-direction: column;
    align-items: center;
  }

  /* About Section */
  .about {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-text {
    margin-left: 0;
  }

  .about-img .dot-square {
    display: none; /* optional: hide decorative dots on mobile */
  }

  /* Stats Section */
  .stats {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .stats-grid {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .stats-img .dot-square {
    display: none;
  }

  /* Variety Section */
  .variety-grid {
    grid-template-columns: 1fr;
  }

  /* Products Section */
  .product-grid {
    grid-template-columns: 1fr;
  }

  /* Footer */
  .footer-content {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/* 
   Tablet: 481px to 1023px
*/
@media (min-width: 481px) and (max-width: 1023px) {
  /* Hero Section */
  .hero-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-text {
    margin-left: 0;
    margin-top: 20px;
  }

  .hero-gallery {
    gap: 15px;
  }

  .hero-img .main-img {
    max-width: 350px;
  }

  .hero-img .rating-img,
  .hero-img .quality-img {
    width: 180px;
  }

  /* Features */
  .features {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* About Section */
  .about {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .about-text {
    margin-left: 0;
  }

  /* Stats Section */
  .stats {
    flex-direction: column;
    text-align: center;
  }

  .stats-grid {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  /* Variety Section */
  .variety-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Products Section */
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Footer */
  .footer-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
  }
}

/* Monitor/Desktop: 1024px and up */

@media (min-width: 1024px) {
  /* Hero Section */
  .hero-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .hero-img .main-img {
    max-width: 400px;
  }

  .hero-img .rating-img {
    width: 250px;
  }

  .hero-img .quality-img {
    width: 250px;
  }

  /* Features Section */
  .features {
    flex-wrap: nowrap;
    gap: 20px;
  }

  /* About Section */
  .about {
    flex-direction: row;
  }

  .about-text {
    margin-left: 100px;
  }

  .about-img .dot-square {
    display: block;
  }

  /* Stats Section */
  .stats {
    flex-direction: row;
    gap: 40px;
  }

  .stats-grid {
    flex-direction: row;
    gap: 40px;
  }

  /* Variety & Products Section */
  .variety-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  /* Footer */
  .footer-content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: left;
  }
}
